#color-sec{
  background-color: rgb(222, 116, 10);
  width: 100%;
 
}
/* flying item spec */
.flying-img{
  width: 23%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  height: 2590px;
  margin-top: 59px;
 
}
.para{
  padding: 10%;
  padding-bottom: 0;
  font-size: 21px;
  font-weight: 500;
}
.main-h1{
  position: absolute;
  z-index: 50;
  font-family: EksellDisplayWeb-Small;
  font-weight: 700;
  font-size: 5em;
  color: white;
}
.a-tags{
  font-weight: 500 !important;
  color: black;
}
.a-tags:hover{
  color: rgb(254, 29, 4);
  transition: color 0.15s;
}
.container3{
  padding: 5%;
  line-height: 25px;
}


@media(max-width:991px){
  .container1{
    height: 1750px;
    width: 100%;
  }
}
.navbar-nav{
  display: flex;
  gap: 2em;

}

.nav-link:hover{
  color: rgba(255, 21, 0, 0.984) !important;
  transition: 1s;
}
.container1{
  overflow: hidden;
}


